
<div class="app">
  <header class="app__header">
    <h1>{{title}}</h1>
    <button type="button" class="app__btn"
     (click)="changeTheme()">Change to {{oppositeTheme}}</button>
  </header>

  <main class="app__main"
    [ngClass]="{ 'app__main--light': (currentTheme === 'light'), 'app__main--dark': (currentTheme === 'dark') }">
    <section class="app__section">
      <h3>Countdown to <span style="color: green;">Christmas</span> {{currentYear}}</h3>
      <app-countdown-timer [theme]="currentTheme" [targetDate]="christmas"></app-countdown-timer>
    </section>
    <section class="app__section">
      <h3>Countdown to <span style="color: red;">New Years Day</span> {{currentYear}}</h3>
      <app-countdown-timer [theme]="currentTheme" [targetDate]="newYears"></app-countdown-timer>
    </section>
  </main>

  <footer class="app__footer">
    <a class="app__link" href="https://github.com/SWilkov?tab=repositories">
      Github
    </a>
  </footer>
</div>
